<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658617094910-nk9hnoqhm93ibnoqs39prbsg2vnl6s5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658617094910-nk9hnoqhm93ibnoqs39prbsg2vnl6s5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAvloJzt4UNXsmE1hSIxZeIP55hogHNmKI</string>
	<key>GCM_SENDER_ID</key>
	<string>658617094910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-f88e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-f88e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658617094910:ios:8255569e8e2c2a6ec8cbaf</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-instagram-clone-f88e8.firebaseio.com</string>
</dict>
</plist>